results/
bulk_fonts/
logs/
*.pyc
.idea
*.swp
*.iml
data/
tmp/
web/tmp_uploads/
web/static/pdf/
collector/results
collector/uploaded-images
collector/result-images
collector/training-data

output.txt

notebook/mnist_test.ipynb
notebook/text paint.ipynb
geo_ocr.egg-info/
example.svg
