results/
bulk_fonts/
logs/
*.pyc
.idea
*.iml
data/
tmp/
web/tmp_uploads/
collector/results
collector/uploaded-images
collector/result-images
collector/training-data

exported-fragments.svg
exported-no-bg.svg
exported.svg

output.txt
