        numpy
        matplotlib
        tensorflow
        keras
        cairocffi
        editdistance
        nose2
        h5py
        pillow
        opencv-python
        scikit-image
        elasticsearch
        python-Levenshtein
 
