<!DOCTYPE html>
<html>

<head>
  <title>ქართული OCR, დასკანერებული ტექსტის გაციფრულება</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="დასკანერებული ფურცლების გაციფრულება ადამიანის მინიმალური ჩარევით." />
  <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='img/favicon.ico')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Main.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Advantages.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Authors.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Contact.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Contribute.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Demo.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Footer.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Project.css')}}" />
  <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

<body>
  <div class="Project">
    <h1 class="Project-title">ქართული ტექსტის ამოცნობა OCR</h1>
    <div class="Project-subtitle">დასკანერებული ფურცლების გაციფრულება ადამიანის მინიმალური ჩარევით</div>
  </div>
  <div class="Advantages">
    <div class="Advantages-title">გაციფრულების პლიუსები</div>
    <div class="Advantages-items">
      <div class="Advantages-item">
        <div class="Advantages-checked"></div>ნაბეჭდი ტექსტი ხდება ძებნადი</div>
      <div class="Advantages-item">
        <div class="Advantages-checked"></div>შესაძლებელი ხდება ტექსტის კოპირება</div>
      <div class="Advantages-item">
        <div class="Advantages-checked"></div>შესაძლებელი ხდება ტექსტის ჩასწორება და ხელახლა ბეჭდვა</div>
    </div>
  </div>
  <div class="Demo">
    <h2 class="Demo-title">თვითონ სცადეთ</h2>
    <div class="Demo-subtitle">ატვირთეთ დასკანერებული ფურცელი და ჩვენი სისტემა გეტყვით რა წერია მასზე</div>
    <div>
      <form action="/read"  method="post" id="read" enctype="multipart/form-data">
        <div class="Demo-button" id="get_file" >ფაილის არჩევა</div>
        <input type="file" id="my_file" name="image" style="display:none">
      </form>
    </div>
  </div>
  <div class="Authors">
    <div class="Authors-content">
      <h2 class="Authors-title">ჩვენი გუნდი</h2>
      <div class="Authors-subtitle">ადამიანები, რომლებმაც შესაძლებელი გახადეს <em>დასკანერებული ნაწერის გაციფრულება</em></div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">რეზო იმნაძე</div>
          <div class="Author-position">პროგრამისტი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">გიორგი კოჭლამაზაშვილი</div>
          <div class="Author-position">პროგრამისტი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">უჩა ღვინიაშვილი</div>
          <div class="Author-position">პროგრამისტი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">გიორგი ბერიძე</div>
          <div class="Author-position">პროგრამისტი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">გიორგი ჯვარიძე</div>
          <div class="Author-position">პროგრამისტი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">ლევან ცინაძე</div>
          <div class="Author-position">პროგრამისტი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">ლაშა ვერულავა</div>
          <div class="Author-position">დირექტორის მოადგილე</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">იოსებ ხუციშვილი</div>
          <div class="Author-position">დირექტორი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">გიორგი შველიძე</div>
          <div class="Author-position">მასხარა</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">უჩა გობეჯიშვილი</div>
          <div class="Author-position">ექსპერტი</div>
        </div>
      </div>
      <div class="Author">
        <div class="Author-photo"></div>
        <div class="Author-text">
          <div class="Author-name">ზურა ჩაგანავა</div>
          <div class="Author-position">პროგრამისტი</div>
        </div>
      </div>
    </div>
  </div>
  <div class="Contribute">
    <h2 class="Contribute-title">ჩვენი კოდი ღიაა</h2>
    <div class="Contribute-subtitle">MIT ლიცენზია საშუალებას გაძლევთ პროექტი გამოიყენოთ, როგორც არაკომერციული, ასევე კომერციული მიზნებისთვის</div>
    <div class="Contribute-content"><a href="https://github.com/m-learning/georgian-ocr-v2" class="Contribute-button">იხილეთ GitHub-ზე</a></div>
  </div>
  <form class="Contact">
    <h2 class="Contact-title">მოგვწერეთ</h2>
    <div class="Contact-subtitle">ან უბრალოდ გვითხარით გამარჯობა</div>
    <div class="Contact-content">
      <input class="Contact-input Contact-name" type="text" name="name" placeholder="თქვენი სახელი" />
      <input class="Contact-input Contact-email" type="text" name="email" placeholder="ელფოსტა" />
      <textarea class="Contact-input Contact-text" name="text" placeholder="ტექსტი"></textarea>
      <button class="Contact-button">გაგზავნა</button>
    </div>
  </form>
  <div class="Footer">&copy; 2017</div>
</body>

</html>
