<!DOCTYPE html>
<html>

<head>
  <title>ქართული OCR, დასკანერებული ტექსტის გაციფრულება</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="დასკანერებული ფურცლების გაციფრულება ადამიანის მინიმალური ჩარევით." />
  <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='img/favicon.ico')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Main.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Advantages.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Authors.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Contact.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Contribute.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Demo.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Footer.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Project.css')}}" />
  <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>

<body>
  <div class="Project">
    <h1 class="Project-title">ქართული ტექსტის ამოცნობა OCR</h1>
    <div class="Project-subtitle">დასკანერებული ფურცლების გაციფრულება ადამიანის მინიმალური ჩარევით</div>
  </div>
  <div class="Advantages">
    <div class="Advantages-title">გაციფრულების პლიუსები</div>
    <div class="Advantages-items">
      <div class="Advantages-item">
        <div class="Advantages-checked"></div>ნაბეჭდი ტექსტი ხდება ძებნადი</div>
      <div class="Advantages-item">
        <div class="Advantages-checked"></div>შესაძლებელი ხდება ტექსტის კოპირება</div>
      <div class="Advantages-item">
        <div class="Advantages-checked"></div>შესაძლებელი ხდება ტექსტის ჩასწორება და ხელახლა ბეჭდვა</div>
    </div>
  </div>
  <div class="Demo">
    <h2 class="Demo-title">თვითონ სცადეთ</h2>
    <div class="Demo-subtitle">ატვირთეთ დასკანერებული ფურცელი და ჩვენი სისტემა გეტყვით რა წერია მასზე</div>
    <div>
      <form action="/read"  method="post" id="read" enctype="multipart/form-data">
        <div class="Demo-button" id="get_file" >ფაილის არჩევა</div>
        <input type="file" id="my_file" name="image" style="display:none">
      </form>
    </div>
  </div>
  <div class="Authors">
    <div class="Authors-content">
      <h2 class="Authors-title">ჩვენი გუნდი</h2>
      <div class="Authors-subtitle">ადამიანები, რომლებმაც შესაძლებელი გახადეს <em>დასკანერებული ნაწერის გაციფრულება</em></div>
    </div>
  </div>
  <div class="Contribute">
    <h2 class="Contribute-title">ჩვენი კოდი ღიაა</h2>
    <div class="Contribute-subtitle">MIT ლიცენზია საშუალებას გაძლევთ პროექტი გამოიყენოთ, როგორც არაკომერციული, ასევე კომერციული მიზნებისთვის</div>
    <div class="Contribute-content"><a href="https://gitlab.thargi.com/public-work/georgian-ocr" class="Contribute-button">იხილეთ წყარო</a></div>
  </div>
  <form class="Contact" action="/send" method="POST">
    <h2 class="Contact-title">მოგვწერეთ</h2>
    <div class="Contact-subtitle">ან უბრალოდ გვითხარით გამარჯობა</div>
    <div class="Contact-content">
      <input class="Contact-input Contact-name" type="text" name="name" placeholder="თქვენი სახელი" />
      <input class="Contact-input Contact-email" type="text" name="email" placeholder="ელფოსტა" />
      <textarea class="Contact-input Contact-text" name="text" placeholder="ტექსტი"></textarea>
      <button class="Contact-button">გაგზავნა</button>
    </div>
  </form>
  <div class="Footer">&copy; 2017</div>
    <script type="text/javascript">
        var authors = [
            {
                photo: '',
                name: 'სოსო ხუციშვილი',
                position: 'თავმოყრა, სწავლება',
            }, {
                photo: '',
                name: 'ლევან ცინაძე',
                position: 'ნეირონული ქსელი',
            }, {
                photo: '',
                name: 'გიორგი შველიძე',
                position: 'სურათების დაჭრა',
            }, {
                photo: '',
                name: 'ნინო უთურაშვილი',
                position: 'ხარისხის კონტროლი, ვებ ინტეგრაცია',
            }, {
                photo: '',
                name: 'ირაკლი სივსივაძე',
                position: 'ტექსტის დაჯგუფება, ოპტიმიზაცია',
            }, {
                photo: '',
                name: 'დავით კობალაძე',
                position: 'სიტყვების სია, ვებ ინტეგრაცია',
            }, {
                photo: '',
                name: 'რეზო იმნაძე',
                position: 'ფილტრაცია',
            }, {
                photo: '',
                name: 'არჩილ იმნაძე',
                position: 'ვებ გვერდი',
            }, {
                photo: '',
                name: 'აბესალომ გოგატიშვილი',
                position: 'სურათების დამუშავება',
            }, {
                photo: '',
                name: 'შოთა ამაშუკელი',
                position: 'სასვენი ნიშნები, სურათების დამუშავება',
            }, {
                photo: '',
                name: 'ვანო ათაბეგაშვილი',
                position: 'ნეირონული ქსელი',
            }, {
                photo: '',
                name: 'კახა ყულოშვილი',
                position: 'PDF გენერირება',
            },
        ];
        
        function shuffleArray(array) {
            let counter = array.length;
            while (counter > 0) {
                let index = Math.floor(Math.random() * counter);
                counter--;
                let temp = array[counter];
                array[counter] = array[index];
                array[index] = temp;
            }
            return array;
        }
        
        authors = shuffleArray(authors)
        
        /*<div class="Author">
            <div class="Author-photo"></div>
            <div class="Author-text">
                <div class="Author-name"></div>
                <div class="Author-position"></div>
            </div>
        </div>*/
        for (var i=0; i<authors.length; i++) {
            var author = authors[i];
            var content = document.getElementsByClassName('Authors-content')[0];
            var divAuthor = document.createElement('div');
            divAuthor.className = 'Author'
            var divPhoto = document.createElement('div');
            divPhoto.className = 'Author-photo'
            var divText = document.createElement('div');
            divText.className = 'Author-text'
            var divName = document.createElement('div');
            divName.className = 'Author-name'
            var textName = document.createTextNode(author.name)
            divName.appendChild(textName)
            var divPosition = document.createElement('div');
            divPosition.className = 'Author-position'
            var textPosition = document.createTextNode(author.position)
            divPosition.appendChild(textPosition)
            divText.appendChild(divName)
            divText.appendChild(divPosition)
            divAuthor.appendChild(divPhoto)
            divAuthor.appendChild(divText)
            content.appendChild(divAuthor)
            if (i%2 == 0) {
                content.appendChild(document.createTextNode('    '))
            }
        }
        content.appendChild(document.createTextNode('    '))
    </script>
</body>

</html>
