.Demo {
    text-align: center;
    background-color: hsl(0, 0%, 90%);
}

.Demo-subtitle {
    margin-top: 20px;
    color: hsl(0, 0%, 40%);
}

.Demo-button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    line-height: 50px;
    background-color: hsl(80, 100%, 35%);
}
.Demo-button:active {
    color: hsl(80, 100%, 50%);
    background-color: black;
}

@media (max-width: 650px) {
    .Demo {
        padding: 40px;
    }
    .Demo-title {
        font-size: 35px;
        line-height: 50px;
    }
    .Demo-button {
        margin-top: 40px;
    }
}

@media (min-width: 651px) {
    .Demo {
        padding: 50px;
    }
    .Demo-title {
        font-size: 40px;
        line-height: 55px;
    }
    .Demo-button {
        margin-top: 50px;
    }
}
