body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.message {
    display: none;
    text-align: center;
    background-color: rgba(42, 130, 42, 0.8);
    padding: 30px;
    z-index: 1;
    color: #FFFFFF;
    font-size: 30px;
}

.mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.7);
    display: none;
    z-index: 2;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
}

.button {
    position: relative;
    width: 200px;
    height: 100px;
    font-size: 30px;
    z-index: 0;
}

.left {
    float: left;
    margin-left: 20px;
}

.right {
    float: right;
    margin-right: 20px;
}
